<!DOCTYPE html>
<html>
    <style>
        body {
            margin:0px;
        }
        #main_canvas {
            left:0px;
            right:0px;
            width:100vw;
            height:100vh;
            background-image: url("/photos/background.jpeg");
            background-size: cover;
        }
        .precise {
            position:absolute;
            border:1px soild grey;
            margin:0px;
            padding:0px;
            background-size:cover;
            background-color: grey;
            z-index:1;
        }
        #fullscreen_icon
        {
            position:absolute;
            width:33px;
            height:33px;
            background-size: contain;
            top:5px;
            right:5px;
            z-index:100;
        }
    </style>
    <div id="main_canvas">
    </div>
<body>
    <div id="fullscreen_icon"></div>

</body>

<script>
    //document.body.style.overflow="hidden"

    var photos=[]

    function new_page() {
        window.setTimeout(new_page,60000);// repeat ad-infinitum
        let pageheight=document.documentElement.clientHeight
        let pagewidth=document.documentElement.clientWidth

        let url="/composite_map?height="+pageheight+"&width="+pagewidth;
        console.log(url)
        fetch(url) // api for the get request
        .then(response => response.json())
        .then(data => render_canvas(data));
        
    }

    function show_another_photo() {
        if (photos.length>0) {
            next_photo=photos.pop()
            var container=document.getElementById("main_canvas");
            container.append(next_photo);
            window.setTimeout(show_another_photo,1);
        }
        

    }



    function render_canvas(data) {
        /* sample data 
                {"snaps":[
                    {"width":187,"height":140,"x":264,"y":499,"location":"20120807_192159.jpg"},
                    {"width":263,"height":197,"x":0,"y":471,"location":"20230412_165249.jpg"},
                    {"width":369,"height":179,"x":23,"y":291,"location":"20210726_193825.jpg"},
                    {"width":369,"height":179,"x":392,"y":320,"location":"20201230_195933.jpg"},
                    {"width":263,"height":197,"x":452,"y":499,"location":"20230530_131746.jpg"},
                    {"width":196,"height":112,"x":255,"y":668,"location":"cnv00017.jpg"},
                    {"width":76,"height":57,"x":392,"y":262,"location":"glencoe03_19.jpg"},
                    {"width":140,"height":187,"x":115,"y":668,"location":"20120809_151104.jpg"},
                    {"width":369,"height":207,"x":452,"y":697,"location":"20220422_100018.jpg"},
                    {"width":187,"height":140,"x":264,"y":781,"location":"20120807_192315.jpg"}
                ]}

        */
       console.log(data);
       var container=document.getElementById("main_canvas");

       // Remove all old nodes:
        container.innerHTML="";
 
        photos=[];
       Array.from(data.snaps).forEach(function(snap) {
        console.log(snap);
        var el=document.createElement("div");
        el.className="precise";
        el.style.width=snap.width+"px";
        el.style.height=snap.height+"px";
        el.style.top=snap.y+"px";
        el.style.left=snap.x+"px";

        escaped_location=encodeURI(snap.location)
        console.log("Location encoded: "+escaped_location)
        el.addEventListener('click', function (event) {
            window.location.href="http://"+window.location.host+"/photograph/"+snap.location+"?width=2000"
        });
        var photo_url="/photograph/"+escaped_location+"?width="+snap.width;
        console.log("Fetching "+photo_url)
        el.style.backgroundImage='url("'+photo_url+'")';
        photos.push(el);// Save until we have them all
        
        

       });


       // Delete all the old ones...

       var container=document.getElementById("main_canvas");

       while (container.firstChild) {
            container.removeChild(container.lastChild);
        }
        show_another_photo();


        

       

    }
    class FullScreenControl
            {
                constructor(cell_id)
                {
                    this.cell_id=cell_id;
                    this.fullscreen=document.fullscreen;
                    this.el=document.getElementById(cell_id);
                    this.el.addEventListener("click",()=>this.toggle_fullscreen(event));
                    this.set_icon();

                }
                set_icon()
                {
                    var img=this.fullscreen?"/photos/exit_fullscreen.png":"/photos/fullscreen.png";
                    this.el.style.backgroundImage="url("+img+")";
                }
                toggle_fullscreen(evt)
                {
                    console.log("toggling fullscreen");
                    this.fullscreen=!this.fullscreen;
                    if (this.fullscreen)
                    {
                        document.documentElement.requestFullscreen();
                    } else {
                        document.exitFullscreen();
                    }
                    this.set_icon();

                }
            }

    new_page();
    full_screen_control=new FullScreenControl("fullscreen_icon");

</script>

</html>

